<!DOCTYPE html>
<html lang="en">
<% include header %>
<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
        height:68vh;
        overflow-y: auto;
    }
</style>
<body>
<% include navbar %>
<hr>
<div class="container">
    <div class="page-header"> 
            <%- filename %>
    </div>
    <div class="row" >
        <%- data %>
    </div>
</div>
<% include footer %>
<!-- /container -->
</body>
</html>