<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li id="home"><a href="/">Home</a></li>
				<li id="list"><a href="/list">File list</a></li>
			</ul>
		</div>
	</div>
</div>